<!DOCTYPE html>
<html>
<head>
  <title>[AUTHOR] - [TITLE] — Play</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  <link rel="stylesheet" href="style.css">

  [INTERPRETERHEAD]

</head>
<body class="play">
<div id="quixeplus-pane"></div>
<div class="container">

<div id="gameport">
[INTERPRETERBODY]
</div>

</div>
<div class="interpretercredit"><a href="[INTERPRETERURL]">[INTERPRETERVERSION]</a></div>
</body>
</html>
